#main-navbar {
  background-color: blue;
  width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  vertical-align: top;
}

#main-navbar ul li {
  float: left;
  padding: 10px 20px;
}

#main-navbar ul li a {
  text-decoration: none;
  color: #fff;
}

#sidebar {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container {
  text-align: center;
  display: block;
}

#sidebar-container ul {
  list-style-type: none;
  padding: 0;
}

#sidebar-container ul li {
  padding: 15px 0;
}
  
#sidebar-container ul li a {
  text-decoration: none;
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}